ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

li{
  padding:6px;
}

a:hover{
  color: #cd7f32;
}

.imgEdit{
  width:100px;
}

.footerImg{
  display: flex;
  align-items: center;
  color: aquamarine;
  margin: 50px;
}

.footerList{
  margin: 60px;
}

.dimensions{
  height:50px;
  width: 100px;
}

#footerMedia{
  margin:100px;
  padding: 30px;
}
.icon{
  color: aquamarine;
}

.mainFooter{
  display: flex;
}

footer{
  background-color: #133043;
}